.presentations-menu {
  display: flex;
  align-items: flex-start;

  &__item,
  &__add-new-item {
    margin-right: 30px;
    flex-basis: 150px;
  }

  &__add-new-item {
    background-color: rgba(lightgreen, 0.5);
  }
}