.are-you-sure {
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;

  &__text {
    margin-bottom: 20px;
  }

  &__button {
    margin-right: 20px;
    min-width: 50px;
  }
}