.box {

  &__link {
    text-decoration: none;
    color: black;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    border: 1px solid grey;
    user-select: none;
    cursor: pointer;
    transition: background-color 200ms linear;
    background-color: white;

    &:hover {
      background-color: rgba(lightblue, 0.5);
    }

    &-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__date {
    font-style: italic;
    color: grey;
    font-size: 10px;
    text-align: right;
  }

  &--small {

    .box__content {
      min-height: 60px;
    }
  }
}