.custom-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.7);
  margin: 0;

  &__content {
    position: absolute;
    margin: auto;
    height: 200px;
    max-width: 300px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
  }
}