.present-page {

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    width: 10%;
  }

  &__prev,
  &__next {

  }

  &__slide {
    width: 80%;


    &-text {
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(black, 0.1);
      padding: 10px;
    }

    &-notes {
      background-color: lightyellow;
      min-height: 100px;
      padding: 10px;
    }
  }
}
