.presentation-editor {

  &__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &-field {
      min-width: 200px;
      margin-right: 10px;
    }
  }

  &__id {
    font-size: 11px;
    font-style: italic;
  }

  &__add-slide {
    text-align: right;
  }

  &__slide {
    background-color: lightyellow;
    padding: 10px;
    margin-top: 20px;
  }
}