.slide-form {
  margin-top: 10px;

  &__notes-field {
    min-height: 100px;
    background-color: white;
    min-width: 300px;
  }

  &__mention-suggestion {
    width: 100px;
    background-color: rgba(black, 0.01);

    &-id {

    }

    &-description {
      font-size: 10px;
      text-align: right;
      color: grey;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--focused {
      background-color: lightblue;
    }
  }

  &__button {
    margin-top: 5px;
    margin-right: 10px;
  }
}