
.slide-carousel {
  &__items {
    background-color: lightgray;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
  }

  &__item {
    display: inline-block;
    margin-right: 30px;
    width: 150px;

    &-id {
      font-size: 11px;
      color: darkblue;
    }
  }
}
